.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid-container{
	display: grid;
	grid-template-columns: 15% 200px auto auto 40px;
	margin:5px;
}
.item0{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:3;
  text-align:center;
}
.item1 {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align:left;
}

.item2 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
  grid-row-end: 3;
  text-align:left;
}

.list-item{
  text-align: left;
}

.input{
  margin-left : 0px;
}

.tombol{
  margin-top: 15px;
  max-width:45px;
  text-align: center;
  font-weight: lighter;
  border-radius: 12px;
  box-shadow: 1px 1px;
}

.daftar{
  display:flex;
  flex-direction: column-reverse;
  grid-row-end:3 ;
}
.tableborder{
  border:2px solid black;
}
.border{
  border:1px;
}
.header{
  background-color: lightgray;
}
.elements{
  background-color: #ff744a;
}
.name{
  width:300px;
}
.price{
  width:200px;
}
.tabletitle{
  text-align: center;
}
.tablealign{
  margin: auto;
}
